@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	outline-offset: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar {
  display: none;
}

input {
	all: unset;
	border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	padding: 0;
	appearance: none;
}

body {
	overflow-x: hidden;
}

body.font1 {
	font-family: 'Poppins', sans-serif;
}
body.font1 input {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

body.font2 {
	font-family: 'Comfortaa', cursive;
}
body.font2 input {
	font-family: 'Comfortaa', cursive;
}
body.font2 :is(h1, h2, h3, h4, h5, h6) {
	font-weight: lighter;
}

.body-preload {
  height: 100vh;
  overflow-y: hidden;
}





.hello-screen {
	width: 100vw;
	height: 100vh;
	gap: 20vh;
	
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	font-family: 'Golos Text', sans-serif;
	z-index: 900;
}
.hello-screen.hide {
	display: none;
}

.hello-screen h1 {
	font-size: 3.5rem;
	opacity: 0;
	color: #080808;
	transition: .5s opacity;
}

.button-slider {
	gap: 2vw;
	display: flex;
	justify-content: center;
}
.button-slider button {
	padding: 8px 20px;
	border: none;
	opacity: 0;
	background: none;
	cursor: pointer;
	transition: .5s opacity, .2s transform;
}
.button-slider > :first-child:active {
	transform: translateX(-0.7rem);
}
.button-slider > :last-child:active {
	transform: translateX(0.7rem);
}
.button-slider button:active {
    transform: scale(0.9);
    transition: .1s transform;
}
.button-slider h3 {
	width: 12ch;
	font-size: 1.5rem;
	text-align: center;
	opacity: 0;
	transition: .5s opacity;
}
.button-slider > :last-child > :first-child {
	transform: rotateY(180deg);
}
.button-slider svg {
	height: 1.5rem;
	display: block;
	stroke: #080808;
}

.hello-submit-language {
	width: 5rem;
	height: 5rem;
	padding: 1rem;
	border-radius: 1.5rem;
	border: none;

	display: block;
	background: #080808;
	stroke: #fff;
	box-shadow: 5px 5px 10px #b7c6d280,
		-5px -5px 10px #FFF;
	opacity: 0;
	cursor: pointer;
	transition: 1s opacity, .2s transform;
}
.hello-submit-language:active {
    transform: scale(0.93);
    transition: .1s transform;
}





.preloader {
	width: 100vw;
	height: 100vh;
	padding-inline: 30vw;
	box-sizing: border-box;
	top: 0;
	left: 0;
	
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	opacity: 1;
	background: #ECF0F3;
	z-index: 120;
	transition: background .5s, opacity .3s;
}
.preloader.hide {
	opacity: 0;
}

.preloader-svg {
	width: 100%;
	transition: transform linear 1s;
}
.preloader-svg.draw-start {
	transform: translate(2.5px, -10px) rotate(-1.5deg);
}
.preloader-svg.draw-before-end {
	transform: translate(-5px, 20px) rotate(3deg);
	transition: transform .2s;
}
.preloader-svg.draw-end {
	transform: translate(0px, 0px) rotate(0deg);
}

.preloader path {
	stroke: #080808;
	transition: stroke .5s;
}

.preloader-path-second {
	opacity: 0;
	transition: opacity .2s .1s;
}
.preloader-path-second.show {
	opacity: 1;
}

.preloader-path {
	stroke-dasharray: 1697;
	stroke-dashoffset: 1697;
}
.preloader-path.draw {
	animation: draw_preloader_path ease-in 1s forwards;
}
@keyframes draw_preloader_path {
	100% {
		stroke-dashoffset: 0;
	}
}





.big-hr {
	width: 70%;
	height: 4px;
	border-radius: 28px;
	border: none;
	flex-shrink: 0;
	transition: .3s background;
}

.small-hr {
	width: 30%;
	height: 2px;
	border-radius: 28px;
	border: none;
	flex-shrink: 0;
}

.small-vertical-hr {
	width: 2px;
	height: 30px;
	border-radius: 28px;
	border: none;
	flex-shrink: 0;
}



/* .popup-notification-cont {
	width: 100vw;
	padding-top: 4vh;
	padding-bottom: 4vh;
	padding-inline: 4vh;
	box-sizing: border-box;
	top: 0;
	position: fixed;
	display: none;
	z-index: 300;
}
.popup-notification-cont-display {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.popup-notification-cont > div {
	width: 100%;
	border-radius: 22px;
	box-sizing: border-box;
	transform: scale(0.9) translateY(-10vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	box-shadow: 0 0 30px #00000050;
	opacity: 0;
	z-index: 205;
	transition-duration: .3s;
}
.popup-notification-cont > .popup-notification-visible {
	transform: scale(1.02) translateY(0.5vh);
	opacity: 1;
}
.popup-notification-cont > .popup-notification-transform {
	transform: scale(1) translateY(0vh);
	opacity: 1;
}

.popup-notification-content {
	width: 100%;
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup-notification-text {
	max-width: 90%;
	font-size: 1.3em;
	text-align: center;
}
.popup-notification-button {
	width: 3ch;
	padding: 12px 30px 12px 30px;
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;
} */



.clickable-button {
	border-radius: 22px;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	transition: .2s transform;
}
.clickable-button:active {
	transform: scale(0.95);
	transition: .1s transform;
}
body.font1 .clickable-button {
	padding: 10px 22px;
}
body.font2 .clickable-button {
	padding: 16px 22px;
}



.title-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	cursor: default;
}
.window-close-button {
    gap: 10px;
    font-size: 1.6em;
    display: flex;
    align-items: center;
	cursor: pointer;
}
body.font1 .window-close-button > div {
	height: 1.4em;
}
body.font2 .window-close-button > div {
	height: 1em;
}
body.font1 .window-close-button > div > svg {
	height: 60%;
}
body.font2 .window-close-button > div > svg {
	height: 85%;
}



.interective-field,
.field > div {
    transition: .2s transform;
}
.interective-field:active,
.field > div:active {
    transform: scale(0.95);
    transition: .1s transform;
}
.field input {
    white-space: nowrap;
}



.empty-field-transform1 {
	transform: translateX(-10px);
}
.empty-field-transform2 {
	transform: translateX(8px);
}



.invert-color {
	filter: brightness(0.8) invert(1) !important;
}



.button-for-floating-window {
    will-change: transform, opacity;
}

.floating-fullview-window-cont {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	visibility: hidden;
	background: rgba(0, 0, 0, 0);
    
	transition: .4s background;
    will-change: background, visibility;
}
.floating-fullview-window-cont > :last-child {
	width: 100%;
	height: 100%;
	border-radius: 22px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0 0 30px #00000050;
	opacity: 0;

	transition: 0s all;
    will-change: opacity, transform;
}
.floating-fullview-window-cont-darker > :last-child {
	transform: translateY(0px) scale(1) !important;
	opacity: 1;
}

.floating-fullview-window-cont .button-window-block {
    width: 100%;
    padding-bottom: 15px;
	gap: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.floating-window-cont {
	width: 100vw;
	height: 100vh;
	padding: 3vw;
	box-sizing: border-box;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	visibility: hidden;
	background: rgba(0, 0, 0, 0);
    
	transition: .4s background;
    will-change: background, visibility;
}
.floating-window-cont-visible {
	visibility: visible;
}
.floating-window-cont-darker {
	background: rgba(0, 0, 0, 0.7);
}
.floating-window-cont > :first-child {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
}
.floating-window-cont > :last-child {
	width: 100%;
	max-height: 90%;
	border-radius: 22px;
	gap: 25px;
	box-sizing: border-box;
	bottom: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0 0 30px #00000050;
	opacity: 0;

	transition: 0s all;
    will-change: opacity, transform;
}
.floating-window-cont-darker > :last-child {
	transform: translateY(0px) scale(1) !important;
	opacity: 1;
}

.floating-window-cont .field {
    max-width: 90%;
	gap: 5px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
}

.floating-window-cont .field > .field-title {
    font-size: 1.1rem;
	cursor: default;
}
.floating-window-cont .field > .field-input {
    max-width: 80%;
	border-radius: 15px;
    font-size: 1.8rem;
    
	text-align: center;
	transition: .2s width,
	.15s transform;
}
body.font1 .floating-window-cont .field > .field-input {
	padding: 5px 10px;
}
body.font2 .floating-window-cont .field > .field-input {
	padding: 11px 10px 8px 10px;
}
.floating-window-cont .field > div {
    max-width: 100%;
    font-size: 1.4rem;
}
.floating-window-cont .field > div > input {
    max-width: calc(100% - 44px);
    overflow-x: scroll;
}
.floating-window-cont .field-date {
	border-radius: 13px;
	cursor: pointer;
}
body.font1 .floating-window-cont .field-date {
	padding: 4px;
}
body.font2 .floating-window-cont .field-date {
	padding: 9px 4px 4px 4px;
}
.floating-window-cont .field-date::-webkit-calendar-picker-indicator {
    margin: 3px 15px 0 -10px;
}

.floating-window-cont .button-block,
.floating-window-cont .button-block-bottom,
.floating-window-cont .button-block-top {
    width: 100%;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.floating-window-cont .button-block-top {
    padding-top: 20px;
}
.floating-window-cont .button-block-bottom {
    padding-bottom: 20px;
}





.window-block-cont {
	width: 100vw;
	height: 100vh;
	top: 0;

	position: fixed;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
	background: rgba(0, 0, 0, 0);

	transition: .4s background;
    will-change: background;
}
.window-block-cont-visible {
	visibility: visible;
}
.window-block-cont-darker {
	background: rgba(0, 0, 0, 0.7);
}
.window-block-cont > :first-child {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
}
.window-block-cont > :last-child {
	width: 100%;
	max-height: 90%;
	gap: 25px;
	border-radius: 22px 22px 0 0;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	transform: scale(1) translateY(20vh);
    
	box-shadow: 0 0 30px #00000050;
	opacity: 0;
	transition: .3s transform,
		.3s opacity,
		.3s background,
		.3s color;
    will-change: opacity, transform;
}
body.font1 .window-block-cont > :last-child {
	padding-block: 10px calc(20px + 1vh);
}
body.font2 .window-block-cont > :last-child {
	padding-block: 14px calc(20px + 1vh);
}
.window-block-cont-darker > :last-child {
	transform: scale(1) translateY(0vh);
	opacity: 1;
}
.window-block-cont-darker > .window-block-transform {
	transform: scale(1) translateY(1vh);
}


.window-block-cont .title-block {
	font-size: 0.95rem;
}
body.font1 .window-block-cont .title-block {
	gap: 10px;
}
body.font2 .window-block-cont .title-block {
	gap: 12px;
}
.window-block-cont .window-content {
    width: 100%;
    padding-inline: 5%;
    gap: 25px;
    box-sizing: border-box;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.window-block-cont .button-block {
    width: 100%;
    gap: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.window-el-amount {
	max-width: 80%;
	border-radius: 15px;
	font-size: 2.2rem;
	text-align: center;
	transition: .2s width,
		.15s transform;
}
body.font1 .window-el-amount {
	padding: 5px 10px;
}
body.font2 .window-el-amount {
	padding: 15px 10px 11px 10px;
}





.window-nav {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
}
.window-nav > div {
	font-size: 1.4em;
	text-align: center;
	flex-grow: 1;
	cursor: pointer;
	transition: .5s padding,
		.5s flex-grow,
		.5s color,
		.5s background,
		.5s border-bottom;
}
body.font1 .window-nav > div {
	padding: 10px 0 8px 0;
}
body.font2 .window-nav > div {
	padding: 14px 0 12px 0;
}
.window-nav > div:active {
	flex-grow: 0.8;
	transition: .1s flex-grow;
}
.window-nav > .active-input-cont {
	flex-grow: 1.2;
	transition: .5s flex-grow,
		.5s .1s color,
		.5s .1s background,
		.5s .1s border-bottom;
}
.window-nav > .active-input-cont:active {
	flex-grow: 0.9;
	transition: .1s flex-grow,
		.5s .1s color,
		.5s .1s background,
		.5s .1s border-bottom;
}
.window-nav-el-hide {
	display: none;
}
.window-nav > div > input {
	transition: .5s transform, 0s color;
}
.window-nav > div:active > input {
	transform: scale(0.95);
	transition: .1s transform;
}
.window-nav > .active-input-cont > input {
	transform: scale(1.1);
}
.window-nav > .active-input-cont:active > input {
	transform: scale(1.05);
	transition: .1s transform;
}



.window-floating-nav {
	gap: 3%;
    display: flex;
    justify-content: space-between;
}
.window-floating-nav > div {
    border-radius: 26px;
	font-size: 1.15em;
	text-align: center;
	flex-grow: 1;
	cursor: pointer;
	transition: .5s flex-grow,
		.5s color,
		.5s background;
}
body.font1 .window-floating-nav > div {
	padding-block: 6px;
}
body.font2 .window-floating-nav > div {
	padding-block: 9px;
}
.window-floating-nav > div:active {
	flex-grow: 0.8;
	transition: .1s flex-grow;
}
.window-floating-nav > .active-input-cont {
	flex-grow: 1.2;
	transition: .5s flex-grow,
		.5s .1s color,
		.5s .1s background;
}
.window-floating-nav > .active-input-cont:active {
	flex-grow: 0.9;
	transition: .1s flex-grow,
		.5s .1s color,
		.5s .1s background;
}
.window-floating-nav > div > input {
	transition: .5s transform, 0s color;
}
.window-floating-nav > div:active > input {
	transform: scale(0.95);
	transition: .1s transform;
}
.window-floating-nav > .active-input-cont > input {
	transform: scale(1.1);
}
.window-floating-nav > .active-input-cont:active > input {
	transform: scale(1);
	transition: .1s transform;
}



.top-padding {
    padding-top: 20px;
}
.element-hide {
    display: none !important;
}





.popup-connected-notification-cont {
	width: 100%;
	padding-inline: 6vw;
	box-sizing: border-box;
	left: 0;
	
	display: flex;
	flex-direction: column;
	position: fixed;
	visibility: hidden;
}
.popup-connected-notification-cont.show {
	visibility: visible;
}
.popup-connected-notification {
	min-height: 70px;
	border-radius: 22px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	transform: scale(0.6) translateY(0px);

	transition: transform .4s, opacity .4s;
}

.timer-line-cont {
	width: 100%;
	height: 4px;
	flex-shrink: 0;
}
.timer-line-cont > hr {
	width: 100%;
	height: 100%;
	border-radius: 28px;
	border: none;
	transition: width 0s linear 0s;
}
.popup-connected-notification-cont.show .timer-line-cont > hr {
	width: 0%;
	transition: width 4.6s linear .4s;
}

.popup-connected-notification > :last-child {
	padding: 10px 10px;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}





.content {
	width: 100vw;
	min-height: 100vh;
	padding-bottom: 30px;
	gap: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.blur {
	backdrop-filter: saturate(120%) blur(15px);
	-webkit-backdrop-filter: saturate(120%) blur(15px);
}



.sticky-topbar {
	width: 100%;
	margin-bottom: 2vh;
	padding-inline: 3vw;
	padding-bottom: 10px;
	border-radius: 0 0 22px 22px;
	box-sizing: border-box;
	top: 0px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 99;
}

.accounts {
	width: 100%;
	padding-bottom: 15px;
	gap: 10px;
	box-sizing: border-box;
	
	flex-shrink: 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.account {
	border-radius: 1rem;
	font-size: 1.4rem;
	text-align: center;
    display: flex;
	cursor: pointer;
}
.accounts .account {
	border-radius: 0.9rem;
	font-size: 1.3rem;
}
body.font1 .account :first-child {
	padding-inline: 7px 4px;
}
body.font2 .account :first-child {
	padding-inline: 10px 8px;
}
.account :last-child {
	border-radius: 14px;
    transition: .4s width;
}
body.font1 .account :last-child {
	padding-inline: 3px;
}
body.font2 .account :last-child {
	padding-inline: 5px;
}
body.font1 .account :first-child,
body.font1 .account :last-child {
	padding-block: 3px;
}
body.font2 .account :first-child,
body.font2 .account :last-child {
	padding-block: 0.6rem 0.42rem;
}
.account-block-animation :last-child {
    transition: 0s all;
}
.accounts .account :first-child {
    padding-block: 2px;
    padding-inline: 7px 4px;
}
.accounts .account :last-child {
    padding-block: 2px;
	padding-inline: 3px;
}

.accounts > .account {
	transition: transform .3s;
}
.accounts > .account:active {
	transform: scale(0.95);
}
.accounts > .active-account {
	transform: scale(1.05);
}
.accounts > .active-account:active {
	transform: scale(1);
}
    


.history-nav {
	width: 100%;
	padding-inline: 3vw;
	box-sizing: border-box;
	gap: 12px;
	display: flex;
	flex-direction: column;
}
.history-nav-period {
	padding-top: 0.5vh;
	padding-inline: 0vw;
}
.history-nav-period > div > div {
	font-size: 1rem;
}
body.font1 .history-nav-period > div > div {
	padding-block: 0.45rem;
}
body.font2 .history-nav-period > div > div {
	padding-block: 0.65rem;
}



.date-filter-menu {
	max-width: 70%;
	max-height: 75vh;
	margin-top: 1vh;
	padding: 0.7rem 0.6rem;
	gap: 0.8rem;
	right: 3vw;
	border-radius: 1rem;
	
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow-y: scroll;

	z-index: 99;
	transition: transform .4s;
}
.date-filter-menu.show {
	transform: translateX(0) !important;
	transition: transform .4s .1s;
}

:is(.date-filter-other, .date-filter-months) {
	font-size: 1.3rem;
	column-gap: .3rem;
	row-gap: .5rem;
	display: grid;
}

.date-filter-other {
	justify-items: center;
	grid-template-columns: repeat(1);
}

.date-filter-months {
	grid-template-columns: repeat(3, 4.5ch);
}

:is(.date-filter-other, .date-filter-months) input {
	transition: .2s transform;
}
:is(.date-filter-other, .date-filter-months) input:active {
	transform: scale(0.93);
	transition: .1s transform;
}

.date-filter-menu .field-title {
	font-size: 1rem;
}
.date-filter-menu .field-date {
	border-radius: 0.65rem;
	font-size: 1.1rem;
}
.date-filter-menu .button-block-bottom > input {
	margin-top: 0.4rem;
	padding: 0.5rem 1rem;
	border-radius: 1.1rem;
	font-size: 1.2rem;
}

.date-filter-menu .button-block-bottom {
    width: 100%;
	gap: 0.35rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}




.widget-cont {
	width: 90vw;
	margin-bottom: 20px;
	flex-grow: 1;
    flex-shrink: 0;
}
.widget {
	max-height: 60vh;
	border-radius: 26px;
}





.expenses-incomes-columns-cont {
	padding: 12px;
	gap: 12px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}
.expenses-incomes-columns-cont > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.stats-column-title {
	width: 100%;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-around;
	text-align: center;
	transition: opacity .3s;
}
.stats-column-title > :last-child {
	font-size: 1.5rem;
}
.expenses-incomes-columns-cont > div > :last-child {
	width: 100%;
	height: 1.2rem;
	margin-block: 10px;
	border-radius: 15px;
}
.expenses-incomes-columns-cont .column {
	height: 100%;
	border-radius: 15px;
	transition: .7s width;
}
.incomes-column {
	background: linear-gradient(60deg, rgba(69, 173, 25, 0.5), rgba(69, 173, 25, 0.9));
}
.expenses-column {
	background: linear-gradient(60deg, rgba(169, 25, 25, 0.5), rgba(169, 25, 25, 0.9));
}




.history-block {
	margin-bottom: 20px;
}

.history-cont {
	border-radius: 26px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}


.history-touch-area {
	width: 20%;
	height: 100%;
    top: 0;
	position: absolute;
	z-index: 42;
    overflow: hidden;
}
.history-touch-area.left {
	left: 0;
}
.history-touch-area.right {
	right: 0;
}
.history {
    height: 50vh;
    padding-block: 12px;
    gap: 12px;

    display: flex;
    flex-direction: column;
	box-sizing: border-box;
    align-items: center;
	position: relative;
	
    overflow-x: hidden;
    overflow-y: hidden;
	z-index: 41;
	transition: transform .2s, border .3s;
}
.history-scroll {
	overflow-y: scroll;
}
.record {
    max-width: calc(100% - 24px);
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 1.05rem;
    
	display: flex;
	flex-direction: column;
	align-items: center;
    
	cursor: pointer;
	transition: .2s transform;
}
body.font1 .record {
	padding: 3px 9px;
	gap: 7px;
}
body.font2 .record {
	padding: 7px 10px;
	gap: 9px;
}
.record:active {
    transform: scale(0.95);
}
.record .date {
    letter-spacing: 2px;
}
.record > div {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.record-category {
    gap: 5px;
}
.record-category > div {
    height: 28px;
}
.record-category > h3 {
    white-space: nowrap;
    overflow-x: scroll;
}
.record-amount {
    gap: 7px;
    font-size: 1.1em;
    letter-spacing: 1px;
}



.history-reloading-background {
    width: 100%;
    height: 100%;
	border-radius: 26px;
    top: 0;
    box-sizing: border-box;
    
    position: absolute;
    background: none;
    visibility: hidden;
	z-index: 43;

    transition: background .5s, visibility 0s .5s;
}
.history-reloading-background-show {
    visibility: visible;
    transition: background .39s, visibility 0s 0s;
}



.enable-history-scroll-button-cont {
	margin-top: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enable-history-scroll-button-cont input {
	border-radius: 1.2rem;
	border: 2px solid;
	border-color: #505050;
	font-size: 1.2rem;
	
	background: none;
	cursor: pointer;
	transition: .2s transform, .3s border-color, .3s color, .3s background;
}
body.font1 .enable-history-scroll-button-cont input {
	padding: 7px 12px;
}
body.font2 .enable-history-scroll-button-cont input {
	padding: 9px 13px;
}
.enable-history-scroll-button-cont input:active {
    transform: scale(0.95);
}



.pie-chart-preview {
	max-height: calc(90vw + 60vh);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pie-chart-cont {
	width: 90vw;
	height: 90vw;
	padding: 12px;
	
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.pie-chart {
	transition: transform 1.2s;
}
.pie-chart-background {
	width: calc(100% - 24px);
	height: calc(100% - 24px);
	border-radius: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pie-chart-background div {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	font-size: 1.3rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
.pie-chart-background h3 {
	cursor: default;
	transition: transform .3s, opacity .3s;
}
.pie-chart-amount-hide {
	transform: scale(0.7);
	opacity: 0;
}

.colors {
	color: #97a97c; /* grosseries */
	color: #9a8c98; /* shopping */
	color: #ece2d0; /* housing */
	color: #a26769; /* transport */
	color: #6d2e46; /* venicle */
	color: #4a4e69; /* life and entertainment */
	color: #006494; /* comunication */
	color: #709775; /* financial expences */
	color: #c9ada7; /* investments */
	color: #22223b; /* other */

	color: #97a97c; /* salary */
	color: #4a4e69; /* schoclaship */
	color: #9a8c98; /* sale */
	color: #ece2d0; /* rent */
	color: #c9ada7; /* investments */
	color: #006494; /* gifts */
	color: #6d2e46; /* lottery */
	color: #a26769; /* refund */
	color: #709775; /* transfers */
}

.pie-chart-categories-details {
	width: 100%;
	max-height: 60vh;
	padding: 12px;
	gap: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	overflow-y: scroll;
}
.pie-chart-categories-details.hide {
	padding: 0;
}

.category-details {
	max-width: calc(100% - 24px);
	padding: 3px 9px;
	gap: 7px;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 1.05rem;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}

.pie-chart-categories-details .category-details {
	cursor: pointer;
	transition: .2s transform;
}
.pie-chart-categories-details .category-details:active {
    transform: scale(0.95);
}
.category-details > div {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.category-details .category {
    gap: 5px;
}
.category-details .category > div {
    height: 28px;
}
.category-details .category > h3 {
    white-space: nowrap;
    overflow-x: scroll;
}
.category-amount {
    gap: 7px;
    font-size: 1.1em;
    letter-spacing: 1px;
}



.subcategories-detail-view-cont {
	justify-content: center;
	z-index: 101;
}
.subcategories-detail-view-cont > :first-child {
	z-index: 102;
}
.subcategories-detail-view-cont > :last-child {
	padding: 25px 2vw;
	z-index: 103;
}
.subcategories-detail-view-cont .category-details .category {
	cursor: default;
}





.content-buttons {
	max-width: 90vw;
	gap: 30px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.make-record-button {
	z-index: 32;
}
.make-record-button-cont {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px 20px 0 0;
	bottom: 0;

	position: sticky;
	display: flex;
	justify-content: center;

	z-index: 98;
}
.settings-button {
	z-index: 31;
}





.make-record-window-cont {
	z-index: 101;
}
.make-record-window-cont > :first-child {
	z-index: 102;
}
.make-record-window-cont > :last-child {
	z-index: 103;
}



.account-changing-prehide {
	transform: translateY(-5px) scale(0.95);
}
.account-changing-hide {
	transform: translateY(-20px) scale(0.85);
	opacity: 0;
}
.account-changed-hide {
	transform: translateY(20px) scale(0.85);
	opacity: 0;
}



/* .make-record-transfer-account-cont {
	margin-block: 0px;
	gap: 5px 0;
	font-size: 1em;
	opacity: 1;
	transition: .3s margin-block,
		.3s gap,
		.3s font-size,
		.3s opacity;
}
.make-record-transfer-account-cont input {
	padding-block: 5px;
	transition: .3s padding-block;
}
.make-record-transfer-account-cont-hide {
	margin-block: -15px;
	gap: 0 0;
	font-size: 0em;
	opacity: 0;
}
.make-record-transfer-account-cont-hide input {
	padding-block: 0px;
}
.make-record-transfer-account-button-cont {
	transition: .3s transform;
}
#make-record-transfer-account-button-cont {
	background: rgba(0, 0, 0, 0) !important;
} */



.accounts-window-cont {
	background: none;
	z-index: 101;
}
.accounts-window-cont > :first-child {
	z-index: 102;
}
.accounts-window-cont > :last-child {
	padding-block: 25px;
	z-index: 103;
}

.make-record-accounts-cont {
	width: 100%;
	height: 100vh;
	padding: 3vw;
	box-sizing: border-box;
	top: 0;
	position: fixed;
	display: none;
	z-index: 102;
	background: rgba(0, 0, 0, 0);
	transition: .4s background;
}
.make-record-accounts-cont-display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.make-record-accounts-cont-visible {
	background: rgba(0, 0, 0, 0.7);
}
.make-record-accounts {
	width: 100%;
	max-height: 90%;
	padding: 20px;
	gap: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	transform: scale(0.9) translateY(10vh);
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0 0 30px #00000050;
	opacity: 0;
	z-index: 103;
	transition: .3s transform,
		.3s opacity;
}
.make-record-accounts-visible {
	transform: scale(1.02) translateY(-0.5vh);
	opacity: 1;
}
.make-record-accounts-transform {
	transform: scale(1) translateY(0);
	opacity: 1;
}

.make-record-accounts-title {
	display: none;
}





.category-cont > div {
    padding-inline: 3px 10px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	cursor: pointer;
	transition: transform .2s, opacity .2s;
}
.category-button-changing-hide {
	transform: translateY(-15px) scale(0.8);
	opacity: 0;
}
.category-type-changed-hide {
	transform: translateY(15px) scale(0.8);
	opacity: 0;
}
.category-cont > div > div {
    height: 44px;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
	align-items: center;
}




.categories-cont {
	z-index: 201;
}
.categories-cont > :first-child {
	z-index: 202;
}
.categories-cont > :last-child {
	padding: 15px 0;
	gap: 10px;
	z-index: 203;
}
.categories-overflow {
	overflow-y: hidden;
}



.categories-hr {
	width: 30%;
	height: 2px;
	border-radius: 28px;
	border: none;
	flex-shrink: 0;
}

.category {
	max-width: 90%;
	padding: 5px 5px 5px 5px;
	gap: 0 12px;
	display: flex;
	white-space: nowrap;
	cursor: pointer;
}
.category-svg-cont {
	width: 28px;
	height: 28px;
}
.category .category-svg {
	transform: scale(1.1);
}
.category-svg {
	height: 100%;
	stroke-width: 8px;
	box-sizing: border-box;
	fill: rgba(0, 0, 0, 0);
	stroke-linecap: round;
	stroke-linejoin: round;
}



.subcategories-cont {
	width: 100%;
	height: 100%;
	padding: 5px 0;
	box-sizing: border-box;
	top: 0;
	transform: translateX(100%);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	z-index: 105;
	transition: .3s transform;
}
.subcategories-cont-visible {
	transform: translateX(0%);
}

.subcategories-title-cont,
.subcategories-back-cont {
	width: 100%;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subcategories-title,
.subcategories-back {
	padding: 7px;
	text-align: center;
	transition: .2s transform;
}
.subcategories-back:active {
	transform: scale(0.95);
	transition: .1s transform;
}

.subcategories {
	width: 100%;
	padding: 5px 20px;
	box-sizing: border-box;
	overflow-y: scroll;
    color: inherit;
    background: inherit;
}

.subcategory-cont {
	gap: 5px;
	display: none;
	flex-direction: column;
	align-items: center;
}
.subcategory-cont-visible {
	display: flex;
}
.subcategory {
	padding: 5px;
	gap: 0 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.subcategory-svg-cont {
	width: 28px;
	height: 28px;
}

.subcategories-back {
	gap: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.back-svg-cont {
	height: 60%;
	display: flex;
	align-items: center;
}
.back-svg {
	height: 100%;
	transform: rotateY(180deg);
}
.subcategories-back .back-button {
	font-size: 2em;
}





.settings-cont {
    z-index: 101;
}
.settings-cont :first-child {
    z-index: 102;
}

.settings-cont .title-block {
    gap: 15px;
}
.settings-cont > :first-child {
    border-radius: 0;
}
.settings-categories {
	width: 100%;
	padding: 20px;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	overflow-y: scroll;
}
body.font1 .settings-categories {
	gap: 10px;
}
body.font2 .settings-categories {
	gap: 13px;
}
.settings-categories > input {
	cursor: pointer;
}



.settings-category-window-cont {
	z-index: 201;
}
.settings-category-window-cont > :first-child {
	z-index: 202;
}
.settings-category-window-cont > :last-child {
	z-index: 203;
}
.settings-category-window-cont .button-block-hide {
	display: none;
}
.settings-category-window-cont .description {
	font-size: 1.1em;
	cursor: default;
}



.switch-cont {
	gap: 12px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.switch-cont > :is(:first-child, :last-child) {
	width: 6ch;
}
.switch-cont > :first-child {
	text-align: right;
}
.switch-cont > :last-child {
	text-align: left;
}
.switch {
	width: 68px;
	height: 38px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.switch input {
	width: 68px;
	height: 38px;
	opacity: 1;
	left: 0;
	position: absolute;
	z-index: 211;
}
.switch-slider {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 34px;
	border: 1px solid rgb(190, 190, 190);

	position: absolute;
	z-index: 210;
	
	background-color: #e6e6e6;
	box-shadow: inset 0 0 5px #9d9d9d;
	transition: .2s background;
}
.switch-slider:before {
	width: 38px;
	height: 38px;
	top: -2px;
	left: -2px;
	border-radius: 50%;
	border: 1px solid rgb(190, 190, 190);

	position: absolute;
	content: "";
	
	background-color: #fff;
	box-shadow: 0 0 2px #9d9d9d;
	transition: .2s left;
}

.switch > input:checked + .switch-slider {
	background-color: #0c0c0c;
}
.switch > input:checked + .switch-slider:before {
	left: 28px;
}





.themes-cont {
    width: 100%;
	gap: 20px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.themes-cont > div {
	width: 27%;
	height: 180px;
	padding-block: 7px 5px;
	border-radius: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: .2s transform;
}
.themes-cont > div:active {
	transform: scale(0.97);
}

.themes-cont .theme-account {
	width: 24%;
	height: 9px;
	border-radius: 4px;
	box-shadow: none !important;
	background: #0b0b0b !important;
}
.themes-cont .theme-widget {
	width: 85%;
	height: 50%;
	border-radius: 7px;
}
.themes-cont .theme-button {
	width: 37%;
	height: 12px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0px;
}

#theme-button-light {
	border: 2px solid rgba(0, 0, 0, 0.2);
}
#theme-button-darkblue {
	border: 2px solid rgba(0, 0, 0, 0.3);
}
#theme-button-dark {
	border: 2px solid rgba(255, 255, 255, 0.1);
}

#theme-button-darkblue .theme-account,
#theme-button-dark .theme-account {
	filter: brightness(0.8) invert(0.95);
}

#theme-button-light > div {
	box-shadow: 2px 2px 2px #b7c6d280,
		-2px -2px 2px #FFF;
	background: #ECF0F3;
}
#theme-button-darkblue > div {
	box-shadow: 2px 2px 2px #161f27,
		-2px -2px 2px #222e3a;
	background: #1B252F;
}
#theme-button-dark > div {
	box-shadow: 2px 2px 2px #060606,
		-2px -2px 2px #131313;
	background: #0b0b0b;
}





.topmargin-range {
	width: 60%;
	height: 15px;
	margin-top: 15px;
	border-radius: 15px;
}
.topmargin-range::-webkit-slider-thumb {
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}
.topmargin-range::-moz-range-thumb {
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}
.topmargin-range::-ms-thumb {
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}


.topmargin-preview-window {
	width: 100vw;
	padding-top: calc(1vh + 15px);
	padding-bottom: 75px;
	top: 0;
	border-radius: 0 0 22px 22px;

	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	transform: translateY(-20vh);

	opacity: 0;
	z-index: 221;
	transition: .3s transform,
		.3s opacity,
        .2s padding-top;
}
.topmargin-preview-window-visible {
	transform: translateY(0vh);
	opacity: 1;
}
.topmargin-preview-window-transform {
	transform: translateY(-1vh);
}
.topmargin-preview-window .account {
	cursor: default;
}





.settings-accounts {
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.settings-accounts .account {
	transition: .3s all,
		.2s transform;
}
.settings-accounts .account:active {
	transform: scale(0.95);
	transition: .1s transform;
}

.new-account-hide {
	margin-block: -10px;
	font-size: 0;
	transition: 0s all;
}
.new-account-hide > input {
	padding-block: 0px;
	transition: 0s padding-block;
}
.settings-account-remove {
	margin-block: -10px;
	font-size: 0;
	transition: .3s margin-block,
		.3s font-size;
}
.settings-account-remove > input {
	padding-block: 0px;
	transition: .3s padding-block;
}





.edit-account-cont {
	z-index: 301;
}
.edit-account-cont > :first-child {
	z-index: 302;
}
.edit-account-cont .popup-connected-notification-cont {
	z-index: 303;
	cursor: pointer;
}
.edit-account-cont > :last-child {
	z-index: 304;
}



.edit-account-color-cont {
	background: none;
	z-index: 401;
}
.edit-account-color-cont > :first-child {
	z-index: 402;
}
.edit-account-color-cont > :last-child {
	z-index: 403;
}

.edit-account-color-button {
	width: 120px;
	height: 60px;
	border-radius: 18px;
	cursor: pointer;
}

.edit-account-color-choose {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.edit-account-color-choose > input {
	width: 18.8vw;
	height: 18.8vw;
	cursor: pointer;
}





.preloader.light {
	background: #ECF0F3;
}
.preloader.darkblue {
	background: #1B252F;
}
.preloader.dark {
	background: #0b0b0b;
}

.preloader.light path {
	stroke: #080808;
}
.preloader.darkblue path {
	stroke: #b8b8b8;
}
.preloader.dark path {
	stroke: #c3c3c3;
}



.wallet-light .account {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}
.wallet-darkblue .account {
    box-shadow: 0 0 0 2px rgba(47, 64, 82, 0.4);
	filter: brightness(0.9);
}
.wallet-dark .account {
	box-shadow: 0 0 0 2px rgba(20, 20, 20, 0.45);
	filter: brightness(0.9);
}
.wallet-darkblue .account.invert-color {
    box-shadow: 0 0 0 2px rgba(208, 191, 173, 0.4);
}
.wallet-dark .account.invert-color {
    box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.55);
}

.wallet-light .active-account {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
.wallet-darkblue .active-account {
    box-shadow: 0 0 0 3px rgba(47, 64, 82, 0.5);
	filter: brightness(0.9);
}
.wallet-dark .active-account {
	box-shadow: 0 0 0 3px rgba(20, 20, 20, 0.4);
	filter: brightness(0.9);
}
.wallet-darkblue .active-account.invert-color {
    box-shadow: 0 0 0 3px rgba(208, 191, 173, 0.5);
}
.wallet-dark .active-account.invert-color {
    box-shadow: 0 0 0 3px rgba(230, 230, 230, 0.7);
}





.wallet-light .clickable-button,
.wallet-light .widget {
	box-shadow: 18px 18px 30px #b7c6d280,
		-18px -18px 30px #FFF;
}
.wallet-darkblue .clickable-button,
.wallet-darkblue .widget {
	box-shadow: 18px 18px 30px #161f27, 
		-18px -18px 30px #222e3a;
}
.wallet-dark .clickable-button,
.wallet-dark .widget {
	box-shadow: 18px 18px 30px #060606, 
		-18px -18px 30px #131313;
}



.wallet-light .expenses-incomes-columns-cont > div > :last-child {
	box-shadow: 5px 5px 10px #b7c6d280,
		-5px -5px 10px #FFF;
}
.wallet-darkblue .expenses-incomes-columns-cont > div > :last-child {
	box-shadow: 5px 5px 10px #161f27,
		-5px -5px 10px #222e3a;
}
.wallet-dark .expenses-incomes-columns-cont > div > :last-child {
	box-shadow: 5px 5px 10px #060606, 
		-5px -5px 10px #131313;
}



.wallet-light .enable-history-scroll-button-cont input {
	border-color: #000;
	color: #080808;
	border: 2px solid rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .enable-history-scroll-button-cont input {
	border-color: #000;
	color: #fff;
	border: 2px solid rgba(0, 0, 0, 0.1);
}
.wallet-dark .enable-history-scroll-button-cont input {
	border-color: #000;
	color: #fff;
	border: 2px solid rgba(0, 0, 0, 0.6);
}

.wallet-light .enable-history-scroll-button-cont input.active {
	border-color: #050505;
	color: #c3c3c3;
	background: #050505;
}
.wallet-darkblue .enable-history-scroll-button-cont input.active {
	border-color: #2f4051;
	color: #c3c3c3;
	background: #2f4051;
}
.wallet-dark .enable-history-scroll-button-cont input.active {
	border-color: #ECF0F3;
	color: #080808;
	background: #ECF0F3;
}



.wallet-darkblue .pie-chart {
	filter: brightness(0.8);
}
.wallet-dark .pie-chart {
	filter: brightness(0.7);
}

.wallet-light .pie-chart-background {
	box-shadow: inset 0px 0px 20px #222e3a;
	/* box-shadow: 5px 5px 10px #b7c6d280,
		-5px -5px 10px #FFF; */
	border: 2px solid rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .pie-chart-background {
	box-shadow: inset 0px 0px 15px 3px #000;
	/* box-shadow: 5px 5px 10px #161f27,
		-5px -5px 10px #222e3a; */
	border: 2px solid rgba(0, 0, 0, 0.1);
}
.wallet-dark .pie-chart-background {
	box-shadow: inset 0px 0px 10px 7px #000;
	/* box-shadow: 5px 5px 10px #060606, 
		-5px -5px 10px #131313; */
	border: 2px solid rgba(0, 0, 0, 0.6);
}

.wallet-light .pie-chart-background > div {
	box-shadow: 0px 0px 20px #222e3a;
	/* box-shadow: inset 10px 10px 15px #FFF,
		inset -10px -10px 15px #b7c6d280; */
	border: 2px solid rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .pie-chart-background > div {
	box-shadow: 0px 0px 15px 3px #000;
	/* box-shadow: inset 10px 10px 10px #222e3a,
		inset -10px -10px 10px #161f27; */
	border: 2px solid rgba(0, 0, 0, 0.1);
}
.wallet-dark .pie-chart-background > div {
	box-shadow: 0px 0px 10px 7px #000;
	/* box-shadow: inset 10px 10px 10px #131313, 
		inset -10px -10px 10px #060606; */
	border: 2px solid rgba(0, 0, 0, 0.6);
}



.wallet-light .clickable-button,
.wallet-light .popup-notification-cont > div,
.wallet-light .window-block,
.wallet-light .floating-window-cont > :last-child,
.wallet-light .cancel-removing-account-window,
.wallet-light .adaptive-background {
	color: #080808;
	background: #ECF0F3;
}
.wallet-darkblue .clickable-button,
.wallet-darkblue .popup-notification-cont > div,
.wallet-darkblue .window-block,
.wallet-darkblue .floating-window-cont > :last-child,
.wallet-darkblue .cancel-removing-account-window,
.wallet-darkblue .adaptive-background {
	color: #b8b8b8;
	background: #1B252F;
}
.wallet-dark .clickable-button,
.wallet-dark .popup-notification-cont > div,
.wallet-dark .window-block,
.wallet-dark .floating-window-cont > :last-child,
.wallet-dark .cancel-removing-account-window,
.wallet-dark .adaptive-background {
	color: #c3c3c3;
	background: #0b0b0b;
}

.wallet-light .window-close-button {
	color: #b5b5b5;
}
.wallet-darkblue .window-close-button {
	color: #59616d;
}
.wallet-dark .window-close-button {
	color: #565656;
}

.wallet-light .settings-close-svg,
.wallet-light .back-svg,
.wallet-light .window-close-button svg {
	stroke: #b5b5b5;
}
.wallet-darkblue .settings-close-svg,
.wallet-darkblue .back-svg,
.wallet-darkblue .window-close-button svg {
	stroke: #59616d;
}
.wallet-dark .settings-close-svg,
.wallet-dark .back-svg,
.wallet-dark .window-close-button svg {
	stroke: #565656;
}

.wallet-light .category-svg {
	stroke: #080808;
}
.wallet-darkblue .category-svg {
	stroke: #b8b8b8;
}
.wallet-dark .category-svg {
	stroke: #c3c3c3;
}

.wallet-light .big-hr,
.wallet-light .small-hr,
.wallet-light .categories-hr {
	background: rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .big-hr,
.wallet-darkblue .small-hr,
.wallet-darkblue .categories-hr {
	background: rgba(255, 255, 255, 0.02);
}
.wallet-dark .big-hr,
.wallet-dark .small-hr,
.wallet-dark .categories-hr {
	background: rgba(255, 255, 255, 0.03);
}

.wallet-light .small-vertical-hr {
	background: rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .small-vertical-hr {
	background: rgba(255, 255, 255, 0.05);
}
.wallet-dark .small-vertical-hr {
	background: rgba(255, 255, 255, 0.06);
}

.wallet-light .timer-line-cont > hr {
	background: rgba(0, 0, 0, 0.25);
}
.wallet-darkblue .timer-line-cont > hr {
	background: rgba(255, 255, 255, 0.1);
}
.wallet-dark .timer-line-cont > hr {
	background: rgba(255, 255, 255, 0.1);
}

.wallet-light .blur {
	background-color: rgba(236, 240, 243, 0.25);
}
.wallet-darkblue .blur {
	background-color: rgba(27, 37, 47, 0.4);
}
.wallet-dark .blur {
	background-color: rgba(11, 11, 11, 0.6);
}
.wallet-light .solid-background {
	background-color: rgba(236, 240, 243, 1);
}
.wallet-darkblue .solid-background {
	background-color: rgba(27, 37, 47, 1);
}
.wallet-dark .solid-background {
	background-color: rgba(11, 11, 11, 1);
}

.wallet-light .widget,
.wallet-light .history-reloading-background,
.wallet-light .date-filter-menu {
	border: 2px solid rgba(0, 0, 0, 0.05);
}
.wallet-darkblue .widget,
.wallet-darkblue .history-reloading-background,
.wallet-darkblue .date-filter-menu {
	border: 2px solid rgba(0, 0, 0, 0.1);
}
.wallet-dark .widget,
.wallet-dark .history-reloading-background,
.wallet-dark .date-filter-menu {
	border: 2px solid rgba(0, 0, 0, 0.6);
}

.wallet-light .history-scroll {
	border: 3px solid rgba(255, 255, 255, 1);
}
.wallet-darkblue .history-scroll {
	border: 3px solid rgba(255, 255, 255, 0.1);
}
.wallet-dark .history-scroll {
	border: 3px solid rgba(255, 255, 255, 0.07);
}

.wallet-light .history-reloading-background-show {
	border: 2px solid rgba(0, 0, 0, 0.05);
	background: #ECF0F3;
}
.wallet-darkblue .history-reloading-background-show {
	border: 2px solid rgba(0, 0, 0, 0.1);
	background: #1B252F;
}
.wallet-dark .history-reloading-background-show {
	border: 2px solid rgba(0, 0, 0, 0.6);
	background: #0b0b0b;
}

.wallet-light .record,
.wallet-light .category-details {
	border: 1px solid rgba(0, 0, 0, 0.08);
	background: rgba(255, 255, 255, 0.4);
}
.wallet-darkblue .record,
.wallet-darkblue .category-details {
	border: 1px solid rgba(255, 255, 255, 0.03);
	background: rgba(255, 255, 255, 0.02);
}
.wallet-dark .record,
.wallet-dark .category-details {
	border: 1px solid rgba(255, 255, 255, 0.04);
	background: rgba(255, 255, 255, 0.02);
}

.wallet-light .record .date {
	color: #b5b5b5;
}
.wallet-darkblue .record .date {
	color: #ffffff8a;
}
.wallet-dark .record .date {
	color: #ffffff80;
}

.wallet-light .window-nav > div {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.wallet-darkblue .window-nav > div {
	border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}
.wallet-dark .window-nav > div {
	border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.wallet-light .window-nav > .active-input-cont {
	border-bottom: 2px solid #050505;
}
.wallet-darkblue .window-nav > .active-input-cont {
	border-bottom: 2px solid #3c4b5f;
}
.wallet-dark .window-nav > .active-input-cont {
	border-bottom: 2px solid #ECF0F3;
}

.wallet-light .window-nav > .active-input-cont,
.wallet-light .window-floating-nav > .active-input-cont {
	color: #c3c3c3;
	background: #050505;
}
.wallet-darkblue .window-nav > .active-input-cont,
.wallet-darkblue .window-floating-nav > .active-input-cont {
	color: #c3c3c3;
	background: #2f4051;
}
.wallet-dark .window-nav > .active-input-cont,
.wallet-dark .window-floating-nav > .active-input-cont {
	color: #080808;
	background: #ECF0F3;
}

.wallet-light .field-title {
	color: #00000080;
}
.wallet-darkblue .field-title {
	color: #ffffff8a;
}
.wallet-dark .field-title {
	color: #ffffff80;
}

.wallet-light .interective-field {
	background: #fff;
}
.wallet-darkblue .interective-field {
	background: #253341;
}
.wallet-dark .interective-field {
	background: #131313;
}

.wallet-light .window-el-amount::placeholder {
	color: #00000060;
}
.wallet-darkblue .window-el-amount::placeholder {
	color: #ffffff40;
}
.wallet-dark .window-el-amount::placeholder {
	color: #ffffff40;
}

.wallet-light .make-record-category-button-none {
	color: #b5b5b5;
}
.wallet-darkblue .make-record-category-button-none {
	color: #ffffff40;
}
.wallet-dark .make-record-category-button-none {
	color: #ffffff40;
}


.wallet-light .topmargin-range::-webkit-slider-thumb {
	background: #050505;
	box-shadow: 0 0 3px #050505;
}
.wallet-light .topmargin-range::-moz-range-thumb {
	background: #050505;
	box-shadow: 0 0 3px #050505;
}
.wallet-light .topmargin-range::-ms-thumb {
	background: #050505;
	box-shadow: 0 0 3px #050505;
}

.wallet-darkblue .topmargin-range::-webkit-slider-thumb {
	background: #2f4051;
	box-shadow: 0 0 3px #2f4051;
}
.wallet-darkblue .topmargin-range::-moz-range-thumb {
	background: #2f4051;
	box-shadow: 0 0 3px #2f4051;
}
.wallet-darkblue .topmargin-range::-ms-thumb {
	background: #2f4051;
	box-shadow: 0 0 3px #2f4051;
}

.wallet-dark .topmargin-range::-webkit-slider-thumb {
	background: #ECF0F3;
	box-shadow: 0 0 3px #ECF0F3;
}
.wallet-dark .topmargin-range::-moz-range-thumb {
	background: #ECF0F3;
	box-shadow: 0 0 3px #ECF0F3;
}
.wallet-dark .topmargin-range::-ms-thumb {
	background: #ECF0F3;
	box-shadow: 0 0 3px #ECF0F3;
}